 /* &display=swap&subset=cirillic-ext */

 /* null */

 *,
 *::before,
 *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: 0;
 }


 li {
     list-style: none;
 }

 a,
 a:visited {
     text-decoration: none;
 }

 a:hover {
     text-decoration: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: inherit;
     font-size: inherit;
 }

 img {
     vertical-align: top;
     max-width: 100%;
 }

 html {
     font-size: 14px;
 }

 body {
     font-family: 'Roboto', sans-serif;
     /* overflow-x: hidden; */

     background-color: #222222;
 }

 .wrapper {
     min-width: 100%;

 }

 /* _________________ */


 .main {
     max-width: 1400px;
     margin: 0 auto;
     transform: translate(-77px, -13px) scale(.3);
 }

 .auto {
     position: relative;
 }

 /* Передняя фара */
 .item-1 {
     background: #0e3552;
     width: 55px;
     height: 27px;
     clip-path: polygon(100% 23%, 100% 23%, 67% 81%, 0 100%, 8% 31%, 81% 0);
     outline: 20px solid black;
     position: absolute;
     top: 105px;
     left: 60px;
     z-index: 101;
 }

 .item-1__line {
     height: 2px;
     width: 38px;
     transform: rotate(-12deg) translate(4px, 8px);
     border-radius: 3px;
     background: rgb(255, 255, 255);
     background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
 }

 .item-1__light {
     background: rgb(255, 255, 255);
     background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
     height: 10px;
     width: 23px;
     transform: translate(5px, 11px) rotate(-5deg);
     clip-path: polygon(21% 77%, 21% 50%, 24% 21%, 9% 19%, 6% 37%, 6% 78%);
 }



 .item-1__light-2 {
     background: rgb(255, 255, 255);
     background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
     height: 10px;
     width: 23px;
     transform: translate(12px, -1px) rotate(-5deg);
     clip-path: polygon(21% 77%, 21% 50%, 24% 21%, 9% 19%, 6% 37%, 6% 78%);
 }

 .item-1__light-3 {
     background: rgb(255, 255, 255);
     background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(119, 119, 119, 1) 100%);
     height: 10px;
     width: 23px;
     transform: translate(19px, -13px) rotate(-5deg);
     clip-path: polygon(21% 77%, 21% 50%, 24% 21%, 9% 19%, 6% 37%, 6% 78%);
 }

 /* Решетка радиатора */
 .item-2 {
     height: 42px;
     width: 10px;
     background-color: rgb(0, 0, 0);
     background-image: linear-gradient(45deg, #868686 25%, transparent 25%, transparent 75%, #7a7a7a 75%),
         linear-gradient(45deg, #696969 25%, transparent 25%, transparent 75%, #676767 75%);
     background-position: 0 0, 1px 1px;
     background-size: 1px 1px;
     clip-path: polygon(100% 0, 100% 77%, 48% 100%, 0 84%, 0 21%);
     border-radius: 2px;
     position: absolute;
     top: 115px;
     left: 42px;
 }

 /* Юбка радиатора */
 .item-3 {
     height: 33px;
     width: 33px;
     background-color: rgb(0, 0, 0);
     background-image: linear-gradient(45deg, #868686 25%, transparent 25%, transparent 75%, #7a7a7a 75%),
         linear-gradient(45deg, #696969 25%, transparent 25%, transparent 75%, #676767 75%);
     background-position: 0 0, 1px 1px;
     background-size: 1px 1px;
     border-radius: 26% 74% 0% 100% / 100% 100% 0% 0%;
     box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.99);
     position: absolute;
     top: 156px;
     left: 57px;
     z-index: 100;
 }

 /* Накладки на юбку */
 .item-3-1 {
     width: 25px;
     height: 4px;
     transform: rotate(-4deg);
     border-radius: 2px;
     background: rgb(37, 34, 34);
     background: linear-gradient(0deg, rgb(47, 47, 47) 0%, rgb(84, 84, 84) 50%, rgb(71, 71, 71) 100%);
     position: absolute;
     top: 167px;
     left: 59px;
     z-index: 101;
 }

 .item-3-2 {
     width: 32px;
     height: 4px;
     transform: rotate(-4deg);
     border-radius: 2px;
     background: rgb(37, 34, 34);
     background: linear-gradient(0deg, rgb(47, 47, 47) 0%, rgb(84, 84, 84) 50%, rgb(71, 71, 71) 100%);
     position: absolute;
     top: 177px;
     left: 57px;
     z-index: 101;
 }


 /* Передний бампер */
 .item-4 {
     width: 13px;
     height: 38px;
     clip-path: polygon(63% 29%, 63% 0, 100% 0, 100% 100%, 93% 100%, 40% 47%);
     background-color: rgb(154, 154, 154);
     box-shadow: 9px 0px 3px 1px rgba(255, 255, 255) inset;
     position: absolute;
     top: 157px;
     left: 39px;
 }

 /* Капот */
 .item-5 {
     width: 193px;
     height: 16px;
     transform: rotate(-8deg);
     background: linear-gradient(0deg, rgba(221, 221, 221, 1) 0%, rgba(205, 205, 205, 1) 18%, rgba(152, 152, 152, 1) 71%, rgba(241, 241, 241, 1) 82%, rgba(138, 138, 138, 1) 100%);
     clip-path: polygon(8% 0, 50% 0, 100% 0, 92% 100%, 4% 100%, 0 62%);
     border-top-left-radius: 90px;
     position: absolute;
     top: 86px;
     left: 42px;
     z-index: 99;
 }

 /* Верзняя часть переднего крыла */
 .item-6 {
     width: 87px;
     height: 86px;
     clip-path: polygon(0 7%, 7% 0, 65% 0, 94% 21%, 100% 36%, 66% 100%, 0% 100%);
     background: linear-gradient(0deg, rgba(189, 188, 188, 1) 0%, rgba(205, 205, 205, 1) 18%, rgba(152, 152, 152, 1) 71%, rgba(158, 158, 158, 1) 82%, rgba(138, 138, 138, 1) 100%);
     position: absolute;
     top: 110px;
     left: 52px;
 }

 /* Задняя часть переднего крыла */
 .item-7 {
     height: 110px;
     width: 154px;
     clip-path: polygon(90% 100%, 26% 43%, 22% 32%, 0 12%, 100% 0, 98% 100%, 89% 99%);
     background: linear-gradient(0deg, rgb(163 160 160) 27%, rgb(118 116 116) 43%, rgb(157 157 157) 76%, rgb(128, 128, 128) 100%);
     position: absolute;
     top: 90px;
     left: 98px;
     transform: rotate(-3deg);
 }

 /* Нижняя черная часть бампера */
 .item-8 {
     height: 22px;
     width: 73px;
     clip-path: polygon(62% 75%, 52% 73%, 0 6%, 0 0, 100% 0, 100% 100%, 81% 100%);
     border-radius: 3px;
     background-color: #05090a;
     position: absolute;
     top: 196px;
     left: 37px;
 }

 /* Колесо  переднее*/
 .item-9 {
     position: absolute;
     width: 150px;
     left: 97px;
     top: 144px;
     z-index: 111;
 }

 /* Заднее колесо */
 .item-9-copied {
     position: absolute;
     width: 150px;
     left: 530px;
     top: 148px;
     z-index: 111;
 }


 /* Ллобовое стекло */
 .item-10 {
     width: 91px;
     height: 5px;
     border-radius: 0% 0% 0% 36% / 10% 10% 10% 100%;
     clip-path: polygon(0 0%, 89% 0%, 98% 100%, 0% 100%);
     background: linear-gradient(0deg, rgba(189, 188, 188, 1) 0%, rgba(48, 48, 48, 1) 0%, rgba(57, 57, 57, 1) 11%, rgba(46, 46, 46, 1) 53%, rgba(80, 80, 80, 1) 87%, rgba(187, 187, 187, 1) 91%, rgba(103, 103, 103, 1) 95%, rgba(205, 205, 205, 1) 100%);
     transform: rotate(-34deg);
     position: absolute;
     top: 47px;
     left: 222px;
     /* opacity: 0; */
     z-index: 106;
 }

 /* Верхняя рама */
 .item-11 {
     width: 480px;
     height: 87px;
     clip-path: polygon(0 101%, 2% 81%, 2% 83%, 16% 31%, 25% 19%, 39% 15%, 103% 11%, 101% 13%, 100% 15%, 95% 30%, 100% 100%, 88% 100%, 81% 108%, 58% 96%, 33% 33%, 36% 28%, 20% 86%, 10% 97%);
     background: linear-gradient(0deg, rgb(160, 160, 160) 0%, rgba(110, 110, 110, 1) 87%, rgba(111, 111, 111, 1) 95%, rgba(131, 131, 131, 1) 100%);
     position: absolute;
     top: 3px;
     left: 219px;
     /* opacity: 0; */
     z-index: 102;
 }

 /* Зеркало заднего вида */
 .item-12 {
     width: 30px;
     height: 23px;
     border-radius: 55% 27% 12% 40% / 53% 41% 10% 48%;
     background: rgb(0, 0, 0);
     background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 3%, rgba(0, 0, 0, 1) 11%, rgba(0, 0, 0, 1) 23%, rgba(129, 129, 129, 1) 25%, rgba(205, 202, 202, 1) 40%, rgba(156, 156, 156, 1) 52%, rgba(110, 110, 110, 1) 87%, rgba(166, 166, 166, 1) 95%, rgba(131, 131, 131, 1) 100%);
     position: absolute;
     top: 75px;
     left: 246px;
     /* opacity: 0; */
     z-index: 107;
     transform: rotate(-6deg);
 }

 /* Переднее стекло */
 .item-13 {
     height: 58px;
     width: 150px;
     transform-origin: left bottom;
     transform: skew(-22deg, -3deg);
     background-color: #000;
     border-radius: 100% 0% 0% 0% / 100% 41% 98% 0%;
     position: absolute;
     top: 32px;
     left: 260px;
     /* opacity: 0; */
     z-index: 104;
 }

 .item-13-copied {
     height: 58px;
     width: 150px;
     transform-origin: left bottom;
     transform: skew(-8deg, -3deg);
     background-color: rgb(147, 147, 147);
     border-radius: 100% 0% 0% 0% / 100% 26% 98% 0%;
     position: absolute;
     top: 30px;
     left: 258px;
     /* opacity: 0; */
     z-index: 103;
 }

 /* Центральная рама переднего стекла */
 .item-14 {
     height: 58px;
     width: 15px;
     background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(19, 19, 19, 1) 32%, rgba(91, 91, 91, 1) 50%, rgba(36, 36, 36, 1) 60%, rgba(13, 13, 13, 1) 100%);
     transform-origin: bottom;
     transform: skew(-3deg, 0deg);
     clip-path: polygon(20% 3%, 100% 2%, 100% 100%, 0% 100%);
     position: absolute;
     top: 24px;
     left: 394px;
     /* opacity: 0; */
     z-index: 107;
     border-radius: 7px 5px 0 0;
 }

 /* Центральная рама заднего стекла */
 .item-15 {
     height: 59px;
     width: 15px;
     background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(19, 19, 19, 1) 32%, rgba(91, 91, 91, 1) 50%, rgba(36, 36, 36, 1) 60%, rgba(13, 13, 13, 1) 100%);
     transform-origin: bottom;
     transform: skew(-3deg, 0deg);
     clip-path: polygon(0 3%, 88% 3%, 100% 108%, 0% 100%);
     /* opacity: 0; */
     z-index: 107;
     position: absolute;
     top: 23px;
     left: 411px;
     border-radius: 5px 2px 0 0;
 }

 .item-15-copied {
     display: block;
     content: '';
     height: 59px;
     width: 4px;
     position: absolute;
     left: 409px;
     top: 23px;
     background-color: rgb(147, 147, 147);
     z-index: 110;
     transform: skewX(-3deg);
 }

 .item-15-copied-2 {
     display: block;
     content: '';
     height: 59px;
     width: 4px;
     position: absolute;
     left: 553px;
     top: 23px;
     background-color: rgb(147, 147, 147);
     z-index: 110;
     transform: skewX(13deg);
 }

 /* передняя дверь */
 .item-16 {
     height: 116px;
     width: 165px;
     border-radius: 13% 0% 64% 16% / 47% 24% 0% 10%;
     clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
     position: absolute;
     top: 82px;
     left: 242px;
     /* opacity: 0; */
     z-index: 105;
     background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgb(151, 151, 151) 33%, rgb(123, 123, 123) 42%, rgba(138, 138, 138, 1) 60%, rgb(170, 170, 170) 100%);
 }

 /* Ручка двери */
 .item-17 {
     position: absolute;
     top: 97px;
     left: 369px;
     z-index: 106;
 }

 .item-17__down {
     position: relative;
     width: 30px;
     height: 13px;
     border-radius: 50px;
     background: linear-gradient(90deg, rgb(87, 87, 87) 0%, rgba(210, 210, 210, 1) 15%, rgb(97, 97, 97) 50%, rgba(111, 111, 111, 1) 100%);
 }

 .item-17-copied {
     position: absolute;
     top: 96px;
     left: 511px;
     z-index: 106;
 }

 .item-17__up {
     width: 33px;
     height: 5px;
     border-radius: 73px;
     background: linear-gradient(0deg, rgba(223, 223, 223, 1) 0%, rgba(210, 210, 210, 1) 15%, rgba(119, 119, 119, 1) 47%, rgba(185, 185, 185, 1) 75%, rgba(231, 231, 231, 1) 100%);
     position: absolute;
     left: -3px;
     top: 4px;
 }

 /* Задняя дверь */
 .item-18 {
     height: 116px;
     width: 168px;
     border-radius: 6% 0% 64% 6% / 43% 24% 0% 29%;
     clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
     clip-path: polygon(0 0, 96% 0%, 100% 16%, 100% 34%, 88% 100%, 0 100%);
     position: absolute;
     top: 82px;
     left: 398px;
     z-index: 105;
     background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(127, 127, 127, 1) 42%, rgba(136, 136, 136, 1) 50%, rgba(138, 138, 138, 1) 60%, rgba(156, 156, 156, 1) 100%);
 }

 /* Порог */
 .item-19 {
     height: 15px;
     width: 306px;
     position: absolute;
     top: 195px;
     left: 236px;
     /* opacity: 0; */
     z-index: 106;
     background: linear-gradient(0deg, rgba(13, 13, 13, 1) 0%, rgba(91, 91, 91, 1) 42%, rgba(136, 136, 136, 1) 50%, rgba(119, 119, 119, 1) 60%, rgba(129, 129, 129, 1) 100%);
 }

 /* Днище */
 .item-20 {
     width: 561px;
     height: 22px;
     background-color: #000;
     position: absolute;
     top: 195px;
     left: 109px;
     /* opacity: 0; */
     z-index: 105;
     /* border-radius: 0% 0% 24% 22% / 10% 10% 10% 22%; */
 }

 /* Заднее стекло */
 .item-21 {
     height: 57px;
     width: 137px;
     background-color: rgb(0, 0, 0);
     position: absolute;
     overflow: hidden;
     top: 25px;
     left: 423px;
     z-index: 106;
 }

 .item-21__frame-1 {
     height: 60px;
     width: 6px;
     background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(19, 19, 19, 1) 32%, rgba(91, 91, 91, 1) 50%, rgba(36, 36, 36, 1) 60%, rgba(13, 13, 13, 1) 100%);
     position: absolute;
     right: 40px;
     transform: skew(-2deg);

 }

 .item-21__frame-2 {
     height: 65px;
     width: 8px;
     background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(19, 19, 19, 1) 32%, rgba(91, 91, 91, 1) 50%, rgba(36, 36, 36, 1) 60%, rgba(13, 13, 13, 1) 100%);
     position: absolute;
     right: -2px;
     transform-origin: bottom;
     transform: skew(13deg);
 }

 .item-21-copied {
     height: 58px;
     width: 144px;
     background-color: rgb(147, 147, 147);
     position: relative;
     overflow: hidden;
     top: 22px;
     left: 416px;
     z-index: 105;
 }

 /* Заднее стекло маленькое */
 .item-22 {
     width: 102px;
     height: 57px;
     background-color: #000;
     border-radius: 39% 88% 100% 10% / 0% 73% 25% 0%;
     position: absolute;
     top: 25px;
     left: 559px;
     /* opacity: 0; */
     z-index: 107;
 }

 .item-22__frame {
     width: 104px;
     height: 62px;
     background-color: rgb(147, 147, 147);
     border-radius: 39% 88% 100% 10% / 0% 72% 25% 10%;
     position: absolute;
     z-index: 106;
     left: 560px;
     top: 22px;
 }



 /* Задний бампер часть над колесом */
 .item-23 {
     width: 172px;
     height: 66px;
     position: absolute;
     top: 89px;
     left: 554px;
     /* opacity: 0; */
     background: linear-gradient(0deg, rgb(143, 143, 143) 0%, rgba(127, 127, 127, 1) 42%, rgba(136, 136, 136, 1) 50%, rgba(138, 138, 138, 1) 60%, rgba(156, 156, 156, 1) 100%);
     border-radius: 0% 8% 0% 0% / 98% 86% 10% 10%;
 }

 /* Задний бампер нижняя часть белая */
 .item-24 {
     width: 183px;
     height: 61px;
     position: absolute;
     top: 155px;
     left: 549px;
     /* opacity: 0; */
     background: linear-gradient(0deg, rgba(218, 218, 218, 1) 0%, rgba(127, 127, 127, 1) 42%, rgba(136, 136, 136, 1) 50%, rgba(138, 138, 138, 1) 60%, rgb(197, 197, 197) 100%);
     border-radius: 0% 3% 36% 0% / 91% 23% 85% 11%;
 }

 /* Накладка на бампер задняя */
 .item-24-copied {
     width: 183px;
     height: 62px;
     position: absolute;
     top: 156px;
     left: 546px;
     /* opacity: 0; */
     background-color: rgb(12, 12, 12);
     opacity: 1;
     border-radius: 1% 3% 17% 0% / 91% 23% 85% 11%;
     clip-path: polygon(0% 84%, 51% 72%, 60% 73%, 68% 65%, 77% 65%, 85% 65%, 88% 55%, 93% 49%, 101% 50%, 100% 54%, 100% 99%, 0% 100%);
     z-index: 104;
 }

 /* Арка для колеса */
 .item-25 {
     overflow: hidden;
     height: 69px;
     width: 153px;
     position: absolute;
     top: 127px;
     left: 97px;
     z-index: 108;
 }

 /* Передняя арка */
 .item-25__arch {
     height: 122px;
     width: 153px;
     border-radius: 30% 36% 10% 10% / 82% 86% 10% 10%;
     background-color: #000;
     border: 10px solid grey;
 }

 /* Задняя арка */
 .item-25-copied {
     overflow: hidden;
     height: 69px;
     width: 153px;
     position: absolute;
     top: 127px;
     left: 529px;
     z-index: 108;
 }

 /* Задняя фара */
 .item-26 {
     width: 51px;
     height: 20px;
     border-radius: 23% 17% 10% 54% / 21% 25% 10% 79%;
     background: linear-gradient(34deg, rgb(13, 13, 13) 0%, rgb(110, 0, 0) 3%, rgb(182, 0, 0) 21%, rgb(0, 0, 0) 42%, rgb(176, 0, 0) 50%, rgb(78, 0, 0) 60%, rgb(54, 0, 0) 79%, rgb(0, 0, 0) 100%);
     position: relative;
     top: 41px;
     left: 673px;
     z-index: 107;
 }

 .item-26__light-1 {
     width: 20px;
     height: 6px;
     border-radius: 23% 17% 10% 54% / 21% 25% 10% 79%;
     background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(60, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 100%);
     position: absolute;
     top: 5px;
     /* left: -26px; */
     left: 31px;
 }

 .item-26__light-2 {
     width: 23px;
     height: 3px;
     background: linear-gradient(0deg, rgba(102, 102, 102, 1) 0%, rgba(106, 106, 106, 1) 3%, rgba(255, 255, 255, 1) 21%, rgba(154, 154, 154, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(143, 143, 143, 1) 60%, rgba(92, 92, 92, 1) 79%, rgb(236, 236, 236) 100%);
     border-radius: 5px;
     position: absolute;
     top: 13px;
     left: 28px;
 }

 /* Заднее стекло */
 .item-27 {
     height: 69px;
     width: 20px;
     background-color: #000;
     position: absolute;
     top: 20px;
     left: 678px;
     transform: skewx(22deg);
 }

 /*  Выхлопная труба */
 .item-28 {
     width: 10px;
     height: 19px;
     background-color: rgb(0, 0, 0);
     border-radius: 37% 63% 25% 76% / 29% 74% 25% 58%;
     position: relative;
     top: 111px;
     left: 711px;
     z-index: 108;
     transform: rotate(42deg);
     border: 2px solid rgb(134, 134, 134);
 }

 .item-29 {
     width: 343px;
     height: 20px;
     position: absolute;
     top: -2px;
     left: 338px;
     background-color: #000;
     transform: rotate(-1deg);
     border-radius: 49% 50% 10% 10% / 100% 100% 0% 0%;
 }

 .item-29__helper {
     width: 294px;
     height: 16px;
     background-color: #222;
     position: absolute;
     top: 6px;
     right: 26px;
     border-radius: 49% 50% 10% 10% / 100% 100% 0% 0%;
 }

 .item-29__helper-2 {
     width: 20px;
     height: 20px;
     background-color: #000;
     position: absolute;
     top: 5px;
     left: 217px;
 }

 .wrapper:hover .item-9,
 .wrapper:hover .item-9-copied {
     animation: rotate 1s steps(10) infinite;
 }

 @keyframes rotate {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(-360deg);
     }
 }